#container {
    position: relative;
}

#background {
    background-image: url('/img/bojo.2048.ph.jpg');
    background-position: center right;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #ccc;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

#app {
    background: radial-gradient(farthest-corner at 100% 0, transparent 0%, #111 75%);
    background-color: transparent;
}

#title {
    margin-left: 50px;
}

#n-logo {
    position: absolute;
    margin-top: -2px;
}

#donationForm {
    margin-top: 25px;
    border-radius: 5px;
}

#slydepayLogo {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid #1b5e20;
}

#slydepayLogo img {
    border: 5px solid #ccc;
    margin: 6px;
    width: 98%;
}

#footer {
    margin-right: 20px;
}

#loading {
    margin: 0;
}

#thankYou {
    margin: 30px 0;
    padding: 50px;
    border-radius: 20px;
    opacity: 0.8;
}

#thankYou h1,
#thankYou h4 {
    margin-top: 20px;
}

.lazy-loaded {
    transition: opacity 0.5s ease-in;
    opacity: 0.5;
}

.lazy-loaded.lazy-load-progress {
    filter: blur(10px);
}

.lazy-loaded.lazy-load-success {
    opacity: 1;
}

.lazy-loaded.lazy-load-error {
    filter: blur(10px) sepia(1);
    outline: 4px solid red;
}

@media only screen and (max-width: 960px) {
    body {
        background-image: none;
    }
}
