body {
    margin: 0;
}

canvas {
    display: inline-block;
}

#container {
    text-align: center;
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
    background: radial-gradient(farthest-corner at 0 0, transparent 0%, #111 75%);
    background-color: transparent;
    height: 100vh;
}

#container:hover {
    box-shadow: inset 0 0 50px -10px #396;
    cursor: pointer;
}

#contact {
    font-weight: normal;
    font-size: 18px;
}

#contact span {
    font-weight: bold;
}

#role {
    font-size: 24px;
    color: #396;
    font-family: Verdana;
    font-style: italic;
}

#role span {
    color: #000;
    font-size: 30px;
}

#logo {
    margin: auto;
    padding: 50px 0;
    opacity: 0;
}

#email {
    text-decoration: none;
    color: #000;
}

#email:hover {
    color: #777;
}

#icons img {
    width: 35px;
}

#icons a {
    display: inline-block;
}

#icons a:hover {
    background: #EEE;
}

#icons a:active {
    background: #CFA;
}

.margin {
    margin-bottom: 25px;
}

#info {
    background: radial-gradient(farthest-corner at 0 0, #FFF 55%, #AAA 100%);
    margin: auto;
    padding: 20px 0;
    box-shadow: inset 0 0 20px #000;
}

@media only screen and (max-width: 480px) {
    #role {
        font-size: 14px;
    }
    #role span {
        font-size: 18px;
    }
    #contact {
        font-size: 13px;
    }
    #info {
        margin-bottom: 50px;
    }
}