<!DOCTYPE html>
<html>
<head>
    <title><%=title %></title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/css/index.client.css" type="text/css">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
</head>
<body>
    <div id="container">
        <div id="logo" width="400px" height="400px">
            <canvas id="canvas">Canvas not supported in this browser</canvas>
        </div>
        <div id="info" class="margin">
            <div id="role" class="margin">Software Developer <span>//</span> Computational Artist</div>
            <div id="contact" class="margin">Nii Yeboah <span>|</span> <a id="email" href="mailto:contact@niiyeboah.com">contact@niiyeboah.com</a></div>
            <div id="icons">
                <a href="https://github.com/niiyeboah" title="GitHub"><img src="/img/github.png" /></a>
                <a href="https://www.linkedin.com/in/niiyeboah/" title="Linkedin"><img src="/img/linkedin.png" /></a>
                <a href="https://jsfiddle.net/user/niiyeboah/fiddles/" title="JSFiddle"><img src="/img/jsfiddle.png" /></a>
                <a href="https://soundcloud.com/niiyeboah" title="Soundcloud"><img src="/img/soundcloud.png" /></a>
            </div>
        </div>
    </div>
    <script type='text/javascript' src='/js/index.bundle.js'></script>
</body>