<!DOCTYPE html>
<html>
<head>
    <title><%=title %></title>
    <meta name="viewport" content="width=device-width">
    <style>
        body { 
            text-align: center; 
            margin: 0; 
            font-family: Verdana, Geneva, Tahoma, sans-serif; 
            background-image: radial-gradient(farthest-corner at 0 0, #FFF 55%, #CFA 110%); 
        }
        canvas { display: inline-block; }
        #contact {  font-weight: normal; font-size: 18px; }
        #role { font-size: 24px; font-weight: bold; color: #396; }
        #role span { color: #000; }
        #logo { margin: 50px auto; }
        #email { text-decoration: none; color: #000; }
        #email:hover { color: #777; }
        #info { margin-bottom: 50px; }
        #icons img { width: 35px; }
        #icons a { display: inline-block }
        #icons a:hover { background: #EEE; }
        #icons a:active { background: #CFA; }
        .margin { margin-bottom: 25px; }

        @media only screen and (max-width: 480px) {
            #role { font-size: 14px; }
            #contact { font-size: 13px; }
        }
    </style>
</head>
<body>
    <div id="logo">
        <canvas id="canvas">Canvas not supported in this browser</canvas>
    </div>
    <div id="info" class="margin">
        <div id="role" class="margin">Web Developer <span>//</span> Computational Artist</div>
        <div id="contact" class="margin">Nii Yeboah | <a id="email" href="mailto:contact@niiyeboah.com">contact@niiyeboah.com</a></div>
        <div id="icons" class="margin">
            <a href="https://github.com/niiyeboah" title="GitHub"><img src="./img/github.png" /></a>
            <a href="https://jsfiddle.net/user/niiyeboah/fiddles/" title="JSFiddle"><img src="./img/jsfiddle.png" /></a>
            <a href="https://www.linkedin.com/in/niiyeboah/" title="Linkedin"><img src="./img/linkedin.png" /></a>
            <a href="https://soundcloud.com/niiyeboah" title="Soundcloud"><img src="./img/soundcloud.png" /></a>
        </div>
    </div>
    
    <script type='text/javascript' src='./js/n-logo.min.js'></script>
    <script type='text/javascript'>
        var resizing = false,
            logo_el = document.getElementById("logo"),
            logoSize = getLogoSize(logo_el),
            logo = new N.Logo("canvas", logoSize);

        logo.animate();

        window.onresize = function () {
            clearTimeout(resizing);
            resizing = setTimeout(function () {
                logoSize = getLogoSize(logo_el);
                logo.setWidth(logoSize);
                logo._initParams();
                logo.draw();
            }, 500);
        }

        function getLogoSize(el) {
            var w = window.innerWidth, h = window.innerHeight;
            var result = (w > h ? h : w) * (window.innerWidth <= 768 ? 0.8 : 0.5);
            el.style.width = el.style.height = result;
            return result;
        }
    </script>
</body>