<!DOCTYPE html>
<html>
<head>
    <title><%=title %></title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="css/styles.css" type="text/css">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
</head>
<body>
    <div id="outer">
        <div id="container">
            <div id="top">
                <div id="logo"></div>
                <input id="date" type="text" value="<%=date %>" data-curr="<%=date %>" title="Change Date" />
            </div>
            <div id="drawing_container">
                <img id="drawing_image" title="Next Pattern" />
                <a id="download" title="Download"></a>
            </div>
        </div>    
    </div>
    <script src="js/svg.min.js"></script>
    <script src="js/samai.min.js"></script>
    <script src="js/n-logo.min.js"></script>
    <script src="js/app.js"></script>
</body>
</html>