<!doctype html>
<html>
    <head>
        <title><%=title %></title>
        <meta name="viewport" content="width=device-width">
        <link rel="shortcut icon" href="/img/zs.32.png" type="image/x-icon">
        <link rel="icon" href="/img/zs.32.png" type="image/x-icon">
        <style>
            body { text-align: center; background-color: #000; margin: 0; }
            #drawing { display: inline-block; }
        </style>
    </head>
    <body>
        <div id="drawing"></div>
        <script type='text/javascript' src='<%=svgjs %>'></script>
        <script type='text/javascript'>
            var draw = SVG('drawing');
            var resizing = false;
            var logo = document.querySelector('#drawing');
            ZipSplit(logoSize());
            centerLogo();
            window.onresize = () => {
                draw.clear();
                clearTimeout(resizing);
                resizing = setTimeout(function () {
                    ZipSplit(logoSize());
                    centerLogo();  
                }, 500);
            }

            function ZipSplit(w) {
                w *= 0.9;
                // initialize SVG.js
                draw.clear();
                draw.size(w, w);

                draw.rect(w, w).fill('#000');

                var S = draw.text("S").fill("#C49200").font({
                family: 'Helvetica',
                size: w * 0.8,
                weight: 'bold'
                }).move(w * 2, w * 0.05);

                var Z = draw.text("Z").fill("#FBC219").font({
                family: 'Helvetica',
                size: w * 0.8,
                weight: 'bold'
                }).move(w * -1, w * 0.05);

                var line = draw.line(w * 0.24, w * 0.85, w * 0.78, w * 0.15).stroke({
                color: '#000',
                width: w * 0.2
                }).move(w * -0.5, w);

                Z.animate(500, '<>').move(w * 0.1, w * -0.25);
                S.animate(500, '<>').move(w * 0.4, w * -0.25);
                line.animate(200, '<>', 400).move(w * 0.25, w * 0.15);
            }

            function centerLogo() {
                logo.style.margin = ((window.innerHeight - logo.width) / 2 - 10) + "px auto 0";
            }

            function logoSize() {
                var logoSize = window.innerWidth;
                if (logoSize > window.innerHeight) logoSize = window.innerHeight;
                return logoSize;
            }
        </script>
    </body>
</html>
